{% extends 'base.html.twig' %}
{% block contenido %}

    <a href="{{ path('noticias') }}">Volver</a>
    <article>
        <header>
            <h1>{{ noticia.titulo }}</h1>
        </header>
        <section>
            {{ noticia.descripcion }}
            <hr>
            <a href="{{ path('modificar_noticia', {'id':noticia.id}) }}">
                Modificar noticia
            </a>
            <a href="{{ path('eliminar_noticia', {'id':noticia.id}) }}">
                Eliminar noticia
            </a>
        </section>
        <br>
        <footer>
            {{ noticia.fecha|date('d/m/Y') }} - 
            Author: {{ noticia.autor }}
        </footer>
    </article>
{% endblock %}